# Node.js
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Output of npm
npm-debug.log
npm-error.log

# Dependency directories
pids/
*.pid
*.seed
*.pid.lock

# Mac OS
.DS_Store

# VSCode
.vscode/

# IDE
.idea/

# Compiled binary addons
build/Release

# pics
src/static/
